{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.number }} de {{ program.title }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
            <p>{{ season.description }}</p>
            {% for episode in season.episodes %}
                <a href="{{ path('program_episode_show', {programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug}) }}">
                    <p>Episode {{ episode.number }} : {{ episode.title }}</p>
                </a>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_show' , {slug: program.slug}) }}">
        Retour à la fiche série
    </a>

{% endblock %}